<mat-sidenav-container class="sidenav-container">

  <!-- Left Sidebar -->
  <mat-sidenav
    #leftDrawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    position="start"
  >
    <div class="sidebar-container">
      <mat-toolbar color="primary" class="toolbar">
        <button
          mat-icon-button
          aria-label="Toggle sidenav"
          (click)="leftDrawer.toggle()"
        >
          <mat-icon>menu</mat-icon>
        </button></mat-toolbar>

      <mat-nav-list class="nav-list">

        <!-- Top utility -->
        <a mat-button (click)="leftDrawer.toggle()">Hide</a>

        <!-- Main navigation -->
        <a
          mat-list-item
          *ngFor="let item of navItems"
          [routerLink]="item.path"
          routerLinkActive="active"
          [class.bottom-item]="item.data?.['bottom']"
        >
          <mat-icon
            *ngIf="item.data?.['icon']"
            matListItemIcon
          >
            {{ item.data?.['icon'] }}
          </mat-icon>

          <span matListItemTitle>
            {{ item.data?.['label'] }}
          </span>
        </a>

      </mat-nav-list>
    </div>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>

    <mat-toolbar color="primary" class="toolbar">
      <button
        *ngIf=!leftDrawer.opened
        mat-icon-button
        aria-label="Toggle sidenav"
        (click)="leftDrawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <span class="toolbar-title">SpeedQuiz</span>
    </mat-toolbar>

    <!-- Routed views -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
