<form [formGroup]="cardForm">
  <div class="readingMeaning">
    <ng-container *ngFor="let slot of quizAnswerSlots">
      <input
        #inputRef
        [attr.data-name]="slot.name"
        [attr.autofocus]="slot.autofocus ? '' : null"
        [formControlName]="slot.name"
        [placeholder]="slot.placeholder"
        (keydown)="toggleHint($event)"
        directiveReadingMeaning
        [correctAnswer]="slot.correctAnswer"
        [strategy]="slot.strategy"
        (onCorrectAnswer)="slot.onCorrectAnswer?.($event)"
      />
    </ng-container>
  </div>
</form>
