HELP.md


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

./FrontendQuiz/src/api
css_generate_context.sh
generate_deploy_context.sh
nginx-auth-snippet.conf
complete_generate_context.sh

JMdict_e.xml

KanjiVG

generate_context.sh
project_context*.txt
generated_contexts/
docs/
gitFilter/
htmlImports/

.env

*_scrot.png
collection*.db
collection-shm
collection-wal

kubernetes-status.txt
ingress-status.txt
repo_master_growth.txt

./FrontendAngular/public/emotes/
./deploy/roles/speedquiz/files/emotes/
/FrontendQuiz/public/emotes/greeting.png
/FrontendQuiz/public/emotes/waiting.png
/.env2
/FrontendQuiz/public/emotes/mad.png
project_evolution.txt