<div class="main-content">
  <div class="zoomed">
    <div *ngIf=currentCard>
      <div>
        <app-one-liner type=question
                       *ngIf="currentCard.subjectType !== 'KANJI'"
                       [card]=currentCard
                       (emitSelectedSubKanji)="handleSelectedKanji($event)">
        </app-one-liner>

        <app-quiz [quizUtilCard]="getCard()" (emitQuizEvent)="toggleHint($event)"></app-quiz>

        <app-stroke-order-kanji *ngIf="currentCard.subjectType !== 'KANA_VOCABULARY' && currentCard.subjectType !== 'RADICAL'"
                                [japanese]=currentCard.question>
        </app-stroke-order-kanji>
      </div>
    </div>
  </div>
</div>
