@if (japanese) {
  <div style="display: flex; background-color: white; width: 102px; height: 102px;"
    [style.flex-wrap]="isWrapContent ? 'wrap' : 'nowrap'"
    >
    @for (c of japanese.split(''); track c) {
      <div class="grid"
       [ngClass]="{
       'grid-true': isCorrect === BorderColor.GREEN,
       'grid-false': isCorrect === BorderColor.RED
     }">
        <app-kanji-display [kanji]="c"
          (strokeOrderComplete)="handleStrokeOrderComplete($event)">
        </app-kanji-display>
      </div>
    }
  </div>
}
