<img ngSrc="assets/a_upscale.png" alt="DiazFlash Image" height="3328" width="4864">

<h1>Success! You reached diazflash.de</h1>
<p>Being an oni Overlord is very time consuming! ...</p>

<button mat-raised-button color="primary" (click)="buttonPressed()">
  <mat-icon>school</mat-icon>
  Learn Japanese!
</button>

<div class="disclaimer">
  Hey! I’m but a mere minion running a personal website. I’m a fan of VTuber Diaz and some other VTubers. I made this to help me learn coding and
  Japanese. I am not affiliated with VTuber Diaz and all content related to her belongs to the original creators. This project is non-commercial.
</div>
