.fullscreen-content {
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hide any overflow after scaling */
  position: relative; /* Ensure it fills the viewport */
}

.zoomed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2.5); /* Center and then scale */
  transform-origin: center center; /* Scale from the center */
}


p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2em;
}
