<div class="main-content">
  <div class="zoomed">
    <div *ngIf=currentCard>
      <div>
        <app-one-liner type=question
                       *ngIf="currentCard.subjectType !== 'KANJI'"
                       [card]=currentCard
                       (emitSelectedSubKanji)="handleSelectedKanji($event)">
        </app-one-liner>

        <app-answer-slots [quizUtilCard]="getCard().answers" (emitQuizEvent)="toggleHint($event)"></app-answer-slots>

        <app-stroke-order-kanji *ngIf="isJapanese(currentCard)" [japanese]=currentCard.question>
        </app-stroke-order-kanji>
      </div>
    </div>
  </div>
</div>
