[defaults]
inventory = inventory.yml
roles_path = ./roles
stdout_callback = yaml
deprecation_warnings = False
interpreter_python = auto_silent

# Enable the timer callback to print execution time and end timestamps
callbacks_enabled = ansible.posix.timer

# Convenience for a personal project: skip the SSH key prompt on first connect.
# In a real shop you'd manage known_hosts properly.
host_key_checking = False

[privilege_escalation]
become = True
become_method = sudo
