<div class="quizBoard">
  <app-deck-bar />

  @if (currentSlots.length > 0) {
    <app-slot-group
      [slots]="currentSlots"
      (allSolved)="onCardSolved()"
      (labelClicked)="onLabelClicked($event)"
      (keydown)="onKeydown($event)" />
  } @else {
    <div class="empty-quiz-state">
      <mat-icon>school</mat-icon>
      <p>No deck loaded. Pick one from the shelf to start.</p>
      <a mat-raised-button color="primary" routerLink="/deckShelf">Open deck shelf</a>
    </div>
  }
</div>

<ng-template #historyPanel>
  <app-quiz-history-sidebar />
</ng-template>
