.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-title {
  flex-grow: 1; /* Allow the label to take up remaining space */
}

mat-toolbar button {
  width: 40px; /* Set a fixed width */
}
