.deck-bar {
  gap: 12px;
  font-size: 14px;
  height: 48px;
  text-align: center;
}

.title {
  display: flex;
  align-items: center;
  flex: 1;
}

mat-card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.empty {
  color: rgba(0, 0, 0, 0.38);
}
