<div class="anki-layout">
  <ng-container *ngIf="ankiPage() as page">

    <div class="mat-elevation-z2 ankiPage2">
      <table mat-table [dataSource]="filteredData" class="full-width-table" matSort aria-label="Deck Table">
        <!-- Checkbox Column -->
        <!-- Select column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="toggleSelectAll($event)"
              [checked]="isAllSelected()"
              [indeterminate]="isSomeSelected()">
            </mat-checkbox>
            Select
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="toggleRow(row, $event)"
              [checked]="selectedRows.has(row.index)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Other columns -->
        <ng-container *ngFor="let column of dataColumns" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ columnLabels[column] || column }}
          </th>
          <td mat-cell
              *matCellDef="let row"
              [ngClass]="{ 'highlight-column': highlightQuestionColumn && column === 'question' }">
            <ng-container *ngIf="column === 'question'; else normalCell" >
              <ng-container *ngFor="let char of row[column]?.split('')">
                <span (click)="applyQuestionFilterFromClick(char)" >{{ char }}</span>
              </ng-container>
            </ng-container>

            <ng-template #normalCell>
              {{ row[column] }}
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="ignore">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-checkbox
              (change)="ignoreSelectAll($event)"
              [checked]="isIgnoredSelected()"
              [indeterminate]="isSomeIgnored()">
            </mat-checkbox>
            Ignore
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (change)="ignoreRow(row, $event)"
              [checked]="ignoredRows.has(row.index)">
            </mat-checkbox>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns" #headerRow></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" #rowElement></tr>
      </table>
    </div>

    <!-- Spacer -->
    <div class="spacer" #spacer></div>

    <!-- Paginator -->
    <div #paginatorContainer class="paginator-controls">
      <a mat-button (click)="learnSelected()">Learn selected rows</a>

      <mat-chip color="primary" removable (click)="clearQuestionFilter()">
        {{getFilterChipText()}}
      </mat-chip>

      <mat-paginator
        [length]="page.info.totalAvailableRows || 0"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="onPageChange($event)">
      </mat-paginator>

      <a mat-button *ngIf="isSomeIgnored" (click)="persistIgnoredAnkiRows()">Persist ignored rows</a>
    </div>

    <app-paginator

  </ng-container>
</div>
