<div class="main-content">
  <div class="zoomed">
    <ng-container *ngIf="deckIteratorService.card$ | async as currentCard">
      <div>
        <app-one-liner type="question"
                       *ngIf="currentCard.subjectType !== 'KANJI'"
                       [card]="currentCard"
                       (emitSelectedSubKanji)="handleSelectedKanji($event)">
        </app-one-liner>

        <app-answer-slots [quizUtilCard]="currentCard.answers"
                          (emitQuizEvent)="toggleHint(currentCard, $event)">
        </app-answer-slots>

        <app-stroke-order-kanji *ngIf="isJapanese(currentCard)"
                                [japanese]="currentCard.question">
        </app-stroke-order-kanji>
      </div>
    </ng-container>
  </div>
</div>
