input.active {
  transition: all 0.3s ease;
}

input:not(.active) {
  transition: none;
}

.readingMeaning {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.readingMeaning mat-form-field {
  width: 300px;
  font-size: 0.95rem;
}
